body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #3342cc, #001527);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    height: 50px;
    align-items: center;
}

.header-right {
    display: flex;
    
}

.icon-link {
    margin-left: 20px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.icon {
    height: 24px;
    margin-right: 5px;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover, .submenu a:hover {
background-color: rgb(103, 103, 216);

}

.submenu {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
}

nav li:hover .submenu {
    display: block;
}


.contact-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba (0,0,0,0,1);
    width: 500px;
 }

 .contact-form h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
 }

 .contact-form label {
    display:block;
    margin-bottom: 5px;
    color: #333;
 }

 .contact-form input, .contact-form select, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
 }

 .contact-form input [type= "radio"]{
    width: auto;
    margin-right: 10px;
 }

 .contact-form button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
 }
 .contact-form button:hover{
    background: #0056b3;
 }

 footer {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icon {
    margin: 0 10px;
}

.social-icon img {
    height: 30px;
}